<!DOCTYPE html>
<head>
    <title>ASAR Web Application</title>
    <link rel="stylesheet" href="../static/view.css">
</head>

<body>
    <p>Hello World!</p>
    <div class="top">
        <p>Top</p>
        <div class="map">
            <!-- This section is for the map view
            <script src="../static/overhead-imaging.js"></script>
            -->
            <img src="../static/hondas2000.jpg"
                 alt="honda s2k"
                 width="500">
        </div>
        <div class="estimate_window">
            <!-- Contains some text and a window with countdown timer -->
        </div>
    </div>
    <div class="bottom">
        <p>Bottom</p>
        <div class="dropdown_menus">
            <div class="menu">
                <!-- Danger Setting -->
                <select>
                    <option value="1">Safe</option>
                    <option value="2">Precarious</option>
                    <option value="3">Impending Doom</option>
                </select>
            </div>
            <div class="menu">
                <!-- Speed Setting -->
                <select>
                    <option value="1">Fast</option>
                    <option value="2">Furious</option>
                    <option value="3">Fast & Furious</option>
                </select>
            </div>
            <div class="menu">
                <!-- Environment Scenario -->
                <select>
                    <option value="1">Forest Fire</option>
                    <option value="2">Blizzard</option>
                </select>
            </div>
        </div>
        <div class="simulation_buttons">
            <div class="my_button">
                <!-- Play -->
            </div>
            <div class="my_button">
                <!-- Pause -->
            </div>
            <div class="my_button">
                <!-- Stop -->
            </div>
        </div>
    </div>
</body>
